body {
    font-family: -apple-system, sans-serif;
}

.main {
    margin-top: 80px;
}

.form-submit {
    margin-top: 15px;
    margin-right: 15px;
}

.link-action {
    margin-right: 10px;
    margin-top: 15px;
}

#message {
    font-size: 12pt;
    color: #e51c23;
}

.message {
    font-size: 12pt;
}

.inset {
    margin-top: 10px;
    margin-left: 10px;
}

.new-item {
    animation-name: move-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.removed {
    animation-name: move-out;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

@keyframes move-in {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move-out {
    to {
        opacity: 0;
    }
}
