.main {
    margin-top: 80px;
}

.form-submit {
    margin-top: 15px;
    margin-right: 15px;
}

.link-action {
    margin-right: 10px;
}

.message {
    font-size: 12pt;
}

.inset {
    margin-top: 10px;
    margin-left: 10px;
}
